In [1]:
import pandas as pd
accident_path = r"..\accident_data\Motor_Vehicle_Collisions_-_Crashes_20251009.csv"

# Load full CSV, combine date and time into one datetime column while reading
accident_df = pd.read_csv(
    accident_path,
    parse_dates=[['CRASH DATE', 'CRASH TIME']]
)

accident_df.head(20)

C:\Users\yanhu\AppData\Local\Temp\ipykernel_30928\1739564246.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  accident_df = pd.read_csv(

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2023-11-01 01:29:00,BROOKLYN,11230.0,40.621790,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,1.0,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,2022-09-21 13:21:00,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
5,2023-04-26 13:30:00,NaN,NaN,NaN,NaN,NaN,WEST 54 STREET,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4623759,Sedan,Box Truck,NaN,NaN,NaN
6,2023-11-01 07:12:00,NaN,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,0.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4675709,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
7,2023-11-01 08:01:00,NaN,NaN,NaN,NaN,NaN,WEST 35 STREET,HENRY HUDSON RIVER,NaN,0.0,...,NaN,NaN,NaN,NaN,4675769,Sedan,NaN,NaN,NaN,NaN
8,2023-04-26 22:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61 Ed Koch queensborough bridge,0.0,...,NaN,NaN,NaN,NaN,4623865,Sedan,Pick-up Truck,NaN,NaN,NaN
9,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
10,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
11,2021-04-14 12:47:00,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
12,2021-12-14 17:05:00,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
13,2021-12-14 08:17:00,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,2.0,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
14,2021-12-14 21:10:00,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,0.0,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
15,2021-12-14 14:58:00,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,2021-12-13 00:34:00,NaN,NaN,40.701275,-73.888870,"(40.701275, -73.88887)",MYRTLE AVENUE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
17,2021-12-14 16:50:00,QUEENS,11413.0,40.675884,-73.755770,"(40.675884, -73.75577)",SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4487127,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,2021-12-14 08:30:00,NaN,NaN,NaN,NaN,NaN,broadway,west 80 street -west 81 street,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486634,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19,2021-12-14 00:59:00,NaN,NaN,40.596620,-74.002310,"(40.59662, -74.00231)",BELT PARKWAY,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,4486564,Sedan,NaN,NaN,NaN,NaN

In [2]:

# Rename the combined column
accident_df.rename(columns={'CRASH DATE_CRASH TIME': 'CRASH_DATETIME'}, inplace=True)

# Sort by datetime
accident_df.sort_values('CRASH_DATETIME', inplace=True)

# Reset index after sorting
accident_df.reset_index(drop=True, inplace=True)

# Save sorted data to new CSV
sorted_csv_path = "..//accident_data//sorted_accident_data.csv"  # change path as needed
accident_df.to_csv(sorted_csv_path, index=False)

print(f"Sorted data saved to: {sorted_csv_path}")

Sorted data saved to: ..//accident_data//sorted_accident_data.csv

In [4]:
# Filter for accidents involving cyclists
sorted_bike_crashes = accident_df[
    (accident_df['NUMBER OF CYCLIST INJURED'] > 0) |
    (accident_df['NUMBER OF CYCLIST KILLED'] > 0)
]
# Save sorted data to new CSV
sorted_csv_path_bike = "..//accident_data//sorted_bike_crashes.csv"  # change path as needed
sorted_bike_crashes.to_csv(sorted_csv_path_bike, index=False)

In [5]:
sorted_bike_crashes

,CRASH_DATETIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
40,2012-07-01 02:30:00,MANHATTAN,10065,40.764162,-73.968890,"(40.7641617, -73.9688897)",EAST 61 STREET,PARK AVENUE,NaN,1.0,...,Passenger Distraction,NaN,NaN,NaN,44909,TAXI,BICYCLE,NaN,NaN,NaN
98,2012-07-01 06:50:00,BRONX,10468,40.862679,-73.909040,"(40.8626793, -73.9090397)",SEDGWICK AVENUE,WEST FORDHAM ROAD,NaN,1.0,...,Unspecified,NaN,NaN,NaN,109483,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
201,2012-07-01 12:15:00,BROOKLYN,11211,40.711801,-73.942229,"(40.7118008, -73.9422288)",GRAND STREET,HUMBOLDT STREET,NaN,1.0,...,Unspecified,NaN,NaN,NaN,193861,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
269,2012-07-01 14:14:00,MANHATTAN,10003,40.731166,-73.991921,"(40.7311655, -73.9919214)",BROADWAY,EAST 9 STREET,NaN,7.0,...,Unspecified,NaN,NaN,NaN,9409,TAXI,BICYCLE,NaN,NaN,NaN
315,2012-07-01 15:40:00,BROOKLYN,11224,40.576159,-73.989017,"(40.5761593, -73.9890171)",MERMAID AVENUE,WEST 22 STREET,NaN,1.0,...,Unspecified,NaN,NaN,NaN,113545,BUS,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211416,2025-10-05 17:54:00,BROOKLYN,11206.0,40.699455,-73.939690,"(40.699455, -73.93969)",BROADWAY,ELLERY ST,NaN,1.0,...,Other Vehicular,NaN,NaN,NaN,4847908,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
2211421,2025-10-05 18:50:00,BROOKLYN,11214.0,40.606895,-74.006620,"(40.606895, -74.00662)",17 AVE,BENSON AVE,NaN,1.0,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4847797,Sedan,Bike,NaN,NaN,NaN
2211431,2025-10-05 19:50:00,QUEENS,11354.0,40.759975,-73.829000,"(40.759975, -73.829)",NaN,NaN,136-31 ROOSEVELT AVE,1.0,...,Unspecified,NaN,NaN,NaN,4847964,Sedan,Bike,NaN,NaN,NaN
2211434,2025-10-05 20:15:00,BROOKLYN,11249.0,40.707000,-73.967290,"(40.707, -73.96729)",WYTHE AVE,DIVISION AVE,NaN,1.0,...,Unspecified,NaN,NaN,NaN,4847917,Sedan,E-Bike,NaN,NaN,NaN
2211440,2025-10-05 20:56:00,MANHATTAN,10036.0,40.755806,-73.986404,"(40.755806, -73.986404)",W 42 ST,BROADWAY,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4847646,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN