In [1]:
import pandas as pd

# Full path to the merged CSV file
file_path = r"C:\Users\zhao\Documents\workspace\task\clean_data_bike\2013_merged.csv"

# Read CSV
df = pd.read_csv(file_path)

print(f"Original rows: {len(df)}")

# Remove duplicates (based on all columns)
df_cleaned = df.drop_duplicates()
df_sorted = df_cleaned.sort_values(by='starttime')

print(f"Rows after removing duplicates: {len(df_sorted)}")

# Save cleaned dataframe back to the same file (overwrite)
#df_cleaned.to_csv(file_path, index=False)

#print(f"Duplicates removed and file saved: {file_path}")

C:\Users\zhao\AppData\Local\Temp\ipykernel_23032\260885863.py:7: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Original rows: 11229776
Rows after removing duplicates: 5638582

In [21]:
# cleaning
# Step 1: Remove '.0' from string values (if any)
df_sorted['birth year'] = df_sorted['birth year'].str.replace('.0', '', regex=False)

# Step 2: Convert to numeric (handles errors and NaNs gracefully)
df_sorted['birth year'] = pd.to_numeric(df_sorted['birth year'], errors='coerce')

# Step 3: Fill NaNs with 0 (optional) and convert to int
df_sorted['birth year'] = df_sorted['birth year'].fillna(0).astype(int)

In [19]:
df_sorted['birth year']

0           1983
1           1984
2              0
3           1960
4           1983
            ...
10785805    1973
10785806    1986
10785807    1985
10785808    1955
10785809    1986
Name: birth year, Length: 5638582, dtype: int32

In [23]:
# New filename with "no_duplicate" added before extension
new_file_path = r"C:\Users\zhao\Documents\workspace\task\clean_data_bike\2013_merged_no_duplicate.csv"

# Save cleaned DataFrame to the new file
df_sorted.to_csv(new_file_path, index=False)
print(f"Cleaned file saved as: {new_file_path}")

Cleaned file saved as: C:\Users\zhao\Documents\workspace\task\clean_data_bike\2013_merged_no_duplicate.csv

In [8]:
nan_count = df_sorted['birth year'].isna().sum()
print(f"Number of NaN values in 'birth year': {nan_count}")

Number of NaN values in 'birth year': 240321